* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.infotab {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__listheader {
    text-align: center;
    margin: 10px 0;
  }

  &__sprite {
    width: 80%;
    margin: 20px 0;
  }

  &__list {
    list-style: none;
  }

  &__location {
    margin: 10px 0;
  }
}
